*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.page-holder{
    margin: auto;
}
.page-holder :nth-child(2){
    width: 100px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.page-holder :nth-child(3){
    width: 100px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.bulb{
    margin-left:50px;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}